/* Fuentes ----------- */

@font-face {
 font-family: 'TradeGothic-BoldCondTwenty';
 src: url('../fonts/TradeGothic-BoldCondTwenty.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TradeGothic-BoldCondTwenty.woff') format('woff'),
      url('../fonts/TradeGothic-BoldCondTwenty.ttf') format('truetype'),
      url('../fonts/TradeGothic-BoldCondTwenty.svg#TradeGothic-BoldCondTwenty') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'TradeGothicLT-BoldCondTwenty';
 src: url("../fonts/tradegothiclt-boldcondtwenty.eot?#iefix") format("embedded-opentype"),
      url("../fonts/tradegothiclt-boldcondtwenty.woff") format("woff"),
      url("../fonts/tradegothiclt-boldcondtwenty.ttf") format("truetype"),
      url("../fonts/tradegothiclt-boldcondtwenty.svg#TradeGothicLT-BoldCondTwenty") format("svg");
 font-weight: normal;
 font-style: normal;
}

/* LOGIN PAGE */

.login {
    width: 750px;
    margin: 0 auto;
    /*border: 2px #333 solid;*/
}

.login a {
  color: #666;
}

.login a:hover {
  color: #ccc;
}

.login p {
  font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, "Franklin Gothic Medium", sans-serif;
  font-size: 16px;
}

.login #text-intro {
  font-size: 18px;
}

.login label {
  font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, "Franklin Gothic Medium", sans-serif;
  font-size: 18px;
}

.login #logo {
  height: 50px;
}

.login #logo {
  height: 70px;
  width: 100%;
  background-image: url("../images/logoai.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.login #header {
  width: 100%;
  height: 400px;
  background-image: url("../images/header.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffff00;
  background-position-y: -60px;
}

.login #content {
  margin: 0px 20px;
  text-align: center;
}

.login input {
  height: 30px;
}

.page-user .nav,
.page-user-login .nav,
.login .description
{
  visibility: hidden;
  height: 0px;
}

.login .form-submit {
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, "Franklin Gothic Medium", sans-serif;
    max-width: 700px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    clear: both;
    background: #ffff00;
    border: 0;
    padding: 10px 30px;
    color: #000;
}

.login .form-submit:hover {
  background: #ffee00;
}

@media only screen and (max-width: 1002px) {
  .login #header {
    height: 300px;
  }
}

@media only screen and (max-width: 788px) {
  .login {
    width: 100%;
  }
  .login #header {
    height: 200px;
    background-position-y: -45px;
  }
  .login input {
    width: 90%;
    height: 30px;
  }
  .login .form-submit {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .login {
    width: 100%;
  }
  .login .form-submit {
      max-width: 90%;
  }
  .login p,
  .login #text-intro,
  .login label {
      font-size: 17px;
  }
  .login #header {
      height: 150px;
      background-position-y: -20px;
  }
}

/* NAVBARS */

/* line 9, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
/* line 14, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.nav:before, .nav:after {
  content: " ";
  display: table;
}
/* line 19, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.nav:after {
  clear: both;
}
/* line 15, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav > li {
  position: relative;
  display: block;
}
/* line 19, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
/* line 23, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
/* line 31, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav > li.disabled > a {
  color: #777777;
}
/* line 34, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
/* line 46, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #337ab7;
}
/* line 59, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
/* line 66, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav > li > a > img {
  max-width: none;
}

/* line 76, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.tabs {
  border-bottom: 1px solid #ddd;
}
/* line 78, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.tabs > li {
  float: left;
  margin-bottom: -1px;
}
/* line 84, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
/* line 89, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #ddd;
}
/* line 96, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.tabs > li.active > a, .tabs > li.active > a:hover, .tabs > li.active > a:focus {
  color: #555555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

/* line 118, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav-pills > li {
  float: left;
}
/* line 122, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav-pills > li > a {
  border-radius: 4px;
}
/* line 125, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav-pills > li + li {
  margin-left: 2px;
}
/* line 131, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}

/* line 144, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav-stacked > li {
  float: none;
}
/* line 146, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

/* line 160, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav-justified, .tabs.nav-justified {
  width: 100%;
}
/* line 163, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav-justified > li, .tabs.nav-justified > li {
  float: none;
}
/* line 165, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav-justified > li > a, .tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
/* line 171, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  /* line 177, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
  .nav-justified > li, .tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  /* line 180, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
  .nav-justified > li > a, .tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}

/* line 190, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.tabs-justified, .tabs.nav-justified {
  border-bottom: 0;
}
/* line 193, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.tabs-justified > li > a, .tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
/* line 199, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.tabs-justified > .active > a, .tabs.nav-justified > .active > a,
.tabs-justified > .active > a:hover,
.tabs.nav-justified > .active > a:hover,
.tabs-justified > .active > a:focus,
.tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  /* line 206, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
  .tabs-justified > li > a, .tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  /* line 210, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
  .tabs-justified > .active > a, .tabs.nav-justified > .active > a,
  .tabs-justified > .active > a:hover,
  .tabs.nav-justified > .active > a:hover,
  .tabs-justified > .active > a:focus,
  .tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}

/* line 224, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.tab-content > .tab-pane {
  display: none;
}
/* line 227, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.tab-content > .active {
  display: block;
}

/* line 237, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navs.scss */
.tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* line 11, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navbar.scss */
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
/* line 14, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.navbar:before, .navbar:after {
  content: " ";
  display: table;
}
/* line 19, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.navbar:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 11, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar {
    border-radius: 4px;
  }
}

/* line 14, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.navbar-header:before, .navbar-header:after {
  content: " ";
  display: table;
}
/* line 19, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.navbar-header:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 31, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-header {
    float: left;
  }
}

/* line 50, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
/* line 14, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.navbar-collapse:before, .navbar-collapse:after {
  content: " ";
  display: table;
}
/* line 19, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.navbar-collapse:after {
  clear: both;
}
/* line 59, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  /* line 50, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  /* line 68, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  /* line 75, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-collapse.in {
    overflow-y: visible;
  }
  /* line 81, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 92, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  /* line 92, ../../../../var/lib/gems/1.9.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}
